[tool.poetry]
name = "naipyext"
version = "0.2.1"
description = "Nasy IPython Extensions."
authors = ["Nasy <nasyxx+python@gmail.com>"]
license = "GPL-3.0+"
include = ["poetry.lock", "README.org", "README.html"]

[tool.poetry.dependencies]
python = "^3.6"
ipython = "^7.2"
better_exceptions = {git = "https://github.com/Qix-/better-exceptions.git"}

requests_html = {version = "^0.9.0",optional = true}
requests = {version = "^2.21",optional = true}

numpy = {version = "^1.15",optional = true}
jupyter = {version = "^1.0",optional = true}
sympy = {version = "^1.3",optional = true}
pandas = {version = "^0.23.4",optional = true}

pendulum = {version = "^2.0",optional = true}
tqdm = {version = "^4.28",optional = true}
bs4 = {version = "^0.0.1",optional = true}

[tool.poetry.extras]
all = ["numpy", "jupyter", "sympy", "pandas", "pendulum", "tqdm", "bs4", "requests", "requests_html"]
math = ["numpy", "jupyter", "sympy", "pandas"]
others = ["pendulum", "tqdm", "bs4", "requests", "requests_html"]


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
