[build-system]
build-backend = "pdm.builders.api"
requires = ["pdm"]

[tool]
[tool.pdm]
author = "Nasy <nasyxx+python@gmail.com>"
description = "Nasy IPython Extensions."
homepage = "https://github.com/nasyxx/naipyext"
license = "GPL-v3"
name = "naipyext"
python_requires = ">=3.7"
version = "0.5.2"
include = ["README.org"]
extras = ["be", "ns", "other", "all"]
[tool.pdm.dependencies]
ipython = "*"

[tool.pdm.dev-dependencies]

[tool.pdm.be-dependencies]
better_exceptions = "*"

[tool.pdm.sp-dependencies]
stackprinter = "*"

[tool.pdm.ns-dependencies]
numpy = "*"
pandas = "*"
pdir2 = "*"
pendulum = "*"
requests = "*"
requests_html = "*"
tqdm = "*"

[tool.pdm.other-dependencies]
httpx = "*"
jupyter_qtconsole_colorschemes = "*"
ptipython = "*"
rich = "*"
sympy = "*"

[tool.pdm.all-dependencies]
better_exceptions = "*"

stackprinter = "*"

numpy = "*"
pandas = "*"
pdir2 = "*"
pendulum = "*"
requests = "*"
requests_html = "*"
tqdm = "*"

httpx = "*"
jupyter_qtconsole_colorschemes = "*"
ptipython = "*"
rich = "*"
sympy = "*"
